<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bjethwan.br12_receiver">

    <!-- <uses-permission android:name="com.bjethwan.permission.broadcast"/> -->

    <application>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:exported="true" android:name=".FirstReceiver">
            <intent-filter>
                <action android:name="com.bjethwan.action.broadcastnow"/>
            </intent-filter>
        </receiver>

    </application>
</manifest>

